/* ------------------------------------------ */
/* -------------- ABOUT BLOCK --------------- */
/* ------------------------------------------ */

.about
{
    padding-top: 125px;

    span
    {
        font-size: 22px;
        line-height: 21px;

        float: left;

        margin-bottom: 33px;

        text-transform: uppercase;

        color: @blue;
    }

    .link
    {
        float: left;
        clear: left;
    }

    img
    {
        position: relative;
        top: 5px;

        float: right;
    }

    .title
    {
        position: relative;

        float: left;

        margin-bottom: 44px;

        &:after
        {
            position: absolute;
            bottom: -22px;
            left: 0;

            width: 81px;
            height: 1px;

            content: '';

            background-color: @gray-line;
        }
    }

    .comment
    {
        float: left;

        width: 470px;
        margin-bottom: 20px;
    }
}
