/* ------------------------------------------ */
/* -------------- FOOTER BLOCK -------------- */
/* ------------------------------------------ */
.footer
{
    .container
    {
        padding-top: 52px;
        padding-bottom: 51px;

        background-color: @background-footer;
    }
}

.footer__links
{
    a
    {
        font-size: 14px;
        font-weight: 400;

        text-transform: uppercase;

        color: @white;
    }
}

.footer__links--copyright
{
    float: left;
}

.footer__links--dizigner
{
    float: right;
}
