/* ------------------------------------------ */
/* ------------- INTRO BLOCK ---------------- */
/* ------------------------------------------ */

.intro {
  text-align: center;
  vertical-align: middle;

  h1 {
    font-size: 79px;
    letter-spacing: 13px;
    text-transform: uppercase;
    margin-top: 216px;
    margin-bottom: 13px;
  }

  p {
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 4px;
  }
}
