/* ------------------------------------------ */
/* -------------- LINK BLOCK ---------------- */
/* ------------------------------------------ */

.link
{
    font-size: 14px;
    line-height: 15px;

    position: relative;

    display: inline-block;

    width: 152px;
    padding: 15px 20px;

    text-align: center;
    text-transform: uppercase;

    color: @white;
    border-radius: 5px;
    background-color: @blue;

    &:hover
    {
        &:after
        {
            position: absolute;
            bottom: 8px;
            left: 50%;

            width: 75%;
            height: 1px;

            content: '';
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);

            background-color: @white;
        }
    }
}
