/* ------------------------------------------ */
/* -------------- LINK BLOCK ---------------- */
/* ------------------------------------------ */

.link {
  display: inline-block;
  color: @white;
  width: 152px;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  background-color: @blue;
  padding: 15px 20px;
  border-radius: 5px;
}
