/* ------------------------------------------ */
/* --------------- MAP BLOCK ---------------- */
/* ------------------------------------------ */
.map {
	text-align: right;

	.container {
		height: 534px;
		padding-top: 130px;
		position: relative;
		background-color: @blue;
	}

	.title {
		float: right;
    position: relative;
		color: @white;
		margin-bottom: 47px;

		&::after {
			content: "";
			position: absolute;
			bottom: -24px;
			right: 0;
			height: 1px;
			width: 81px;
			background-color: @gray-line;
		}
	}

	.comment {
		float: right;
		clear: both;
		vertical-align: top;
		width: 500px;
    margin-bottom: 31px;


		p {
			color: @white;
		}
	}

	.link {
    width: 105px;
    padding: 13px 0;
		clear: both;
		float: right;
		background-color: @white;
		color: @blue;
    border-radius: 4px;
	}
}

.map__map {
	float: left;

	&::before {
		content: "";
		background-image: url("../img/map.png");
		background-position: center;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		height: 534px;
		width: 709px;
	}

	&:hover {
		&::before {
			background-image: url("../img/map-hover.png");
		}
	}
}
