/* ------------------------------------------ */
/* ------------ PRODUCTS BLOCK -------------- */
/* ------------------------------------------ */

.products
{
    padding-top: 173px;

    .container
    {
        position: relative;

        text-align: center;
    }

    .title
    {
        position: relative;

        margin-bottom: 42px;

        &::after
        {
            position: absolute;
            bottom: -20px;
            left: 50%;

            width: 81px;
            height: 1px;

            content: '';
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);

            background-color: @gray-line;
        }
    }

    .comment
    {
        display: inline-block;

        width: 630px;
        margin-bottom: 46px;

        vertical-align: top;
    }
}

.products__items
{
    clear: both;
}

.products__item
{
    float: left;

    width: 270px;
    height: 270px;
    margin-right: 30px;
    margin-bottom: 57px;
    padding-top: 115px;

    h3
    {
        font-size: 20px;

        display: block;

        margin-bottom: 5px;

        color: @white;
    }

    span
    {
        font-size: 24px;
        font-weight: 400;

        display: block;

        color: @white;
    }

    a
    {
        display: none;
    }

    &:hover
    {
        padding-top: 85px;

        text-align: center;

        span
        {
            margin-bottom: 25px;
        }

        a
        {
            font-size: 14px;
            line-height: 15px;

            display: inline;

            padding: 13px 17px;

            color: @blue;
            border-radius: 4px;
            background-color: @white;
        }
    }
}

.products__item--one
{
    background-color: @blue;
    background-image: url('/img/asortiment-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.products__item--two
{
    background-color: @blue;
    background-image: url('/img/asortiment-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.products__item--three
{
    background-color: @blue;
    background-image: url('/img/asortiment-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.products__item--four
{
    margin-right: 0;

    background-color: @blue;
    background-image: url('/img/asortiment-4.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.products__arrow--left
{
    &::before
    {
        position: absolute;
        bottom: 211px;
        left: 27px;

        width: 41px;
        height: 41px;

        content: '';
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);

        background-image: url('../img/arrow-left.png');
        background-repeat: no-repeat;
    }
}

.products__arrow--right
{
    &::before
    {
        position: absolute;
        right: -13px;
        bottom: 211px;

        width: 41px;
        height: 41px;

        content: '';
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);

        background-image: url('../img/arrow-right.png');
        background-repeat: no-repeat;
    }
}
